<app-navbar></app-navbar>
<div class="about">
    <div class="bg-light">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-6">
                    <h1>About page</h1>
                </div>
                <div class="col-lg-6"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                        class="img-fluid"></div>
            </div>
        </div>
    </div>
    <div class="bg-white py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                    <h2>About the project</h2>
                    <p class="text-muted mb-4">The project is about shopping online made as a solution for people who
                        would like to buy products without leaving the house, especially at the COVID-19 quarantine.</p>
                </div>
                <div class="col-lg-5"><img
                        src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
                        class="img-fluid mb-4"></div>
            </div>
        </div>
    </div>
    <div class="bg-light py-5">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="text-center">About me</h2>
                </div>
                <div class="row m-auto text-center">

                    <div class="col-12">
                        <div class="bg-white rounded shadow-sm px-4"><img src="/assets/images/myPic.jpg" alt=""
                                width="60%" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                            <h5>Daniel Kotlarov</h5><span class="small text-uppercase text-muted">Full
                                Stack
                                Web Developer</span>
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/daniel.kotlarov" class="social-link"><i
                                            class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/danielkot24/" class="social-link"><i
                                            class="fa fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/daniel-kotlarov-400574182/"
                                        class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-light">
        <div class="container text-center">
            <p class="text-muted">&copy; Copyrights Daniel Kotlarov All rights reserved.</p>
        </div>
    </footer>
</div>