.pageTitle {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    line-height: .75;
    font-size: 400px;
    font-family: bodyFont;
    margin: 2% 0;
    font-weight: bold;
    padding-top: 1%;
    font-size: 60px;
}

.searchDiv {
    text-align: left;
}

.productsContainer {
    margin-top: 2%;
}

.productInCategory {
    display: inline-block;
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
}

.category {
    display: inline-block;
    background: 0;
    border: 0;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.slide-toggle {
    display: none;
}

.slidemenu {
    font-family: arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    overflow: hidden;
}

.slidemenu label {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
    color: white;
    opacity: 0.2;
}

.slidemenu label:hover {
    cursor: pointer;
    color: white;
}

.slidemenu label span {
    font-size: 16px;
    display: block;
    padding: 10px;
}

.slidemenu label .icon {
    font-size: 20px;
    border: solid 2px #333;
    text-align: center;
    height: 80px;
    width: 80px;
    display: block;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
}

/*Bar Style*/

.slider {
    width: 100%;
    height: 5px;
    display: block;
    background: #ccc;
    margin-top: 10px;
    border-radius: 5px;
}

.slider #bar {
    width: 25%;
    height: 5px;
    background: limegreen;
    border-radius: 5px;
}

/*Animations*/

.slidemenu label, .slider #bar {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

#slide-item-1:checked#bar {
    margin-left: 50%;
}

.slidemenu .slide-toggle:checked+label {
    opacity: 1;
}

.slidemenu #slide-item-1:checked#bar {
    margin-left: 0;
}

.slidemenu #slide-item-2:checked #bar {
    margin-left: 25%;
}

.slidemenu #slide-item-3:checked #bar {
    margin-left: 50%;
}

.slidemenu #slide-item-4:checked #bar {
    margin-left: 75%;
}

.productsContainer {
    display: inline-block;
    background: white
}

/* Product Card */

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-centerY-centerX {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.containerBackground {
    color: white;
    margin-top: 12px;
    margin-right: 1%;
    padding: 2em 5%;
    background: rgb(17 34 51 / 94%);
    border: 1px solid black;
    border-radius: 15px;
}

.searchInput {
    display: inline-block;
    width: 12em;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: auto;
}

.cardProductContent {
    padding-bottom: 16x!important;
}

.productDetails {
    position: relative;
    left: 20px;
    top: 8px;
    text-align: left;
}

.productName {
    font-family: bodyFont;
    font-size: large;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.productPrice {
    font-family: bodyFont;
    font-size: medium;
}

.productCard {
    max-width: 200px;
    display: inline-block;
    padding: 0 0 1% 0!important;
    margin: 0 1% 1% 0!important;
    -webkit-box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #e1e1e3;
    box-shadow: 1px 1px 20px #e1e1e3;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.addBtnDiv>button {
    width: 150px;
    background: limegreen;
}

.addBtnDiv {
    text-align: left;
    position: relative;
    box-sizing: border-box;
    opacity: 1;
    right: 20px;
    bottom: 10px;
}

@media (max-width:970px) {
    .addBtnDiv {
        text-align: center;
    }
}

/* Cart Example */

.cartContainer {
    margin-top: 35px;
    margin-left: 1%;
    position: relative;
    bottom: 22px;
}

#cart {
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    color: #444;
}

.qty, .product>td:nth-child(2) {
    padding-left: 20px!important;
}

#cart thead th {
    padding: 8px 0;
    font-weight: bold;
}

#cart thead th.photo {
    width: 175px;
}

#cart thead th.qty {
    width: 45px;
}

#cart thead th.cartProductName {
    width: 230px;
}

#cart thead th.total {
    width: 130px;
}

#cart thead th.fifth {
    width: 20px;
}

#cart tbody td {
    text-align: center;
    margin-top: 4px;
}

td, th {
    color: white;
}

tr.product {
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #d7dbe0;
}

#cart tbody td img.thumb {
    width: 120px;
    height: 55px;
    vertical-align: bottom;
    margin-bottom: 4px;
}

.qtyinput {
    width: 33px;
    height: 22px;
    border: 1px solid #a3b8d3;
    background: #dae4eb;
    color: #616161;
    text-align: center;
}

tr.totalPrice, tr.extracosts {
    height: 35px;
    line-height: 35px;
}

tr.extracosts {
    background: #e4edf4;
}

.remove {
    cursor: pointer;
    position: relative;
    right: 12px;
    top: 5px;
}

.light {
    color: white;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
    font-size: 1.1em;
    font-weight: normal;
}

.thick {
    color: white;
    font-size: 1.7em;
    font-weight: bold;
}

/** submit btn **/

tr.checkoutRow {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

td.checkout {
    padding: 12px 0;
    padding-top: 20px;
    width: 100%;
    text-align: right;
}

.cartBtn {
    width: 150px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 0 4px 10px 0;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    font-family: Arial, Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    background-image: -webkit-linear-gradient(black, limegreen);
    background-image: -moz-linear-gradient(black, limegreen);
    background-image: -o-linear-gradient(black, limegreen);
    background-image: linear-gradient(black, limegreen);
    appearance: button;
    text-decoration: none;
}

.marginRight {
    margin-right: 2%;
}

.verticalAlignTop {
    vertical-align: top;
}

.betweenContainerAndCart {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #414141;
}

.cartTitle {
    font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
    color: #fff;
    text-shadow: 1px 2px 0 #7184d8;
    font-size: 3.5em;
    line-height: 1.1em;
    padding: 6px 0;
    font-weight: normal;
    text-align: center;
}

#title {
    display: block;
    width: 100%;
    background-image: linear-gradient(black, limegreen);
    padding: 10px 0;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-topleft: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#title>h6 {
    color: white;
}
#title>h1{
    font-family: bodyFont;
}
#page {
    display: block;
    background: rgb(17 34 51 / 94%);
    padding: 15px 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}