.login {
    height: 100%;
}

.authTitle {
    display: inline-block;
    margin-bottom: 10%;
    color: gray;
}

.authTitle::after {
    content: '';
    width: 0px;
    height: 1px;
    margin-top: 5%;
    display: block;
    background: rgb(119, 218, 69);
    width: 100%;
}

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    padding: 10%;
    background: rgba(16, 25, 29, 0.9);
    border: 1px solid black;
    border-radius: 15px;
}

.login-html .sign-in-htm, .login-html .sign-up-htm {
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in, .login-html .sign-up, .login-form .group .check {
    display: none;
}

.login-html .tab, .login-form .group .label, .login-form .group .button, .shoppingBtn {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab, .login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label, .login-form .group .input, .login-form .group .button, .shoppingBtn {
    width: 100%;
    height: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input, .login-form .group .button, .shoppingBtn {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button, .shoppingBtn {
    background: rgb(119, 218, 69);
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before, .login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.loginHr {
    height: 2px;
    margin: 10% 0 20px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
    margin-top: 13%;
    color: rgb(119, 218, 69);
}

.signInBtn {
    margin-top: 10%;
}

.button, .shoppingBtn {
    outline: none;
}

.authTitle {
    font-size: 1.75rem;
}

.logo {
    width: 15em;
    margin-left: 0;
    padding-bottom: 5em;
}

.login-divs, .login-html, h3, h4, h5 {
    font-family: bodyFont;
}

.container {
    position: relative;
    top: 3em;
}

.loggedMessage {
    color: white;
}

.login-divs {
    color: white;
    padding: 5%;
    background: rgba(16, 25, 29, 0.9);
    border: 1px solid black;
    border-radius: 15px;
}

.align-left {
    text-align: left;
}


.onlineShopLogo {
    width: 100%;
    padding-bottom: 5em;
}
.notification{
    margin-top: 5em;
    font-weight: bold;
}
@media (max-width:960px) {
    .onlineShopLogo {
        width: 25em;
    }
}

